/* fonts popins */
 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap'); 

 /* header part */

 /* .nav_bar{
    background-color: #562EFF ;
   
    justify-content: center;
 } */
 
 nav{
    background-color: #562EFF;
   
 }
 .nav_item{
    display: flex;  
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 94px;
    
 }
 .main_logo{
    margin-left: 15%;
 }
 .nav_item a{
    color: #F3F1FF;
    font-size: 1.5rem;
    text-decoration: none;
    margin-right: 15px;
    padding: 15px;
    
 }
 .nav_right{
    margin-right: 15%;
    
 }

/* common style or utlities */
body{
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
    
    background-color: #FFFFFF;
    width: 870px;
    border-radius: 5px;
    padding: 30px;
    margin-top: 20px;
}

hr{
    border: 1px solid #D1D1D1;

}

/* top players section */
.top_players{
    margin-bottom: 30px;
}
.section_title{
    color: #562EFF;
    font-size: 24px;
    margin-top: 3px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 30px;
}
.player{
    display: flex;
    align-items: center;
    
}
.player img{
    height: 56px;
    width: 56px;
}
.player_name{
    margin-left: 16px;
    font-size: 18px;
}


/* top_blog section */

.blogs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 26px;
}
.section_title{
    color: #562EFF;
    font-size: 24px;
}
.blog{
    display: flex;

}

.blog img{
    width: 177px;
    height: 117px;
}
.blog_info{
    margin-left: 16px;
    width: 165px;
}
.blog_heading{
    font-size: 20px;
    margin: 0px;
}
.author_by{
    color: #9F9F9F;
}
.author_name{
    color: #562EFF;
    text-decoration: none;
}


/* Lates Course */

.courses{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 24px;
}
.course{
    width: 252PX;
    box-shadow: 0px 5.34229px 13.3557px rgba(0, 0, 0, 0.05);
    padding: 15px;
    
}
.course .course_banner img{
    width: 224px;
    height: 104px;
}
.course_info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 19px;
}
.course_title{
    font-size: 20px;
}
.course_author{
    color: #ED6B4F;
    font-size: 15px;
    margin: 0;
}
.fa-star.filled{
    color: #FFC014; 
    padding-top: 7px;
}
.fa-star.empty{
    color: #AEAEAE; 
}


/* media Queries */
/* mobile seren/ */
 
@media only screen and (max-width: 688px) {

    .container{
        width: 100%;
    }
    .section_title{
       text-align:  center;
    }
    .players, .blogs, .courses{
      
        grid-template-columns: repeat(1,1fr);
        justify-items: center;
        
    }
    .player, .player, .course{
        flex-direction: column;
        align-items: center;
    }
}

/* tablet seren/ */

@media  only screen and (min-width: 688px) and (max-width: 992px) {


    .container{
        width: 100%;
    }
    .section_title{
       text-align:  center;
    }

    .players{
      
        grid-template-columns: repeat(2,1fr);
        justify-items: center;
        
    }
    .player, .player, .course{
        flex-direction: column;
        align-items: center;
    }
    .blogs, .courses{

        grid-template-columns: repeat(2,1fr);
    }
    
}